.footer__bloc
  height auto
  background $black
  align-items center
  +large()
    display flex
    flex-wrap wrap
  .footer__logo
    list-style-type none
    padding-top 10%
    padding-left 10%
    +large()
      width 33%
      padding-top 0
      padding-left 0
      text-align center
  .footer__text
    h3
      padding-left 10%
      padding-top 5%
      color $blue
      font-weight 900
      +large()
        padding-top 0
    p
      padding-left 10%
      padding-right 10%
      padding-top 1rem
      color $white
      font-weight 500
      line-height 1.5
    +large()
      width 33%
  .footer__textTitle
    padding-left 10%
    padding-top 5%
    color $blue
    font-weight 900
    +large()
      padding-top 10%
  .footer__items
    padding-left 10%
    padding-top 1rem
    padding-bottom 3rem
    line-height 1.5
    li
      a
        color $white
        transition color ease 0.3s
        &:hover
          color $blue
  .footer__anchors
    +large()
      width 33%
  .footer__social
    +large()
      width 100%
    ul
      padding-left 10%
      padding-bottom 3rem
      display flex
      justify-content center
      +large()
        padding-left 0
      li
        padding-right 10%
        +large()
          padding-right 5%
    .footer__social_img
      width 30px