*GLOBAL*

src/.DS_Store
src/*/DS_Store
.DS_Store

ehthumbs.db
Thumbs.db
.todo

*Logs*

logs
_.log
npm-debug.log_

*Node modules*

node_modules

*IDE*

*.sublime-workspace
*.sublime-project
.idea
.idea/workspace.xml
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml

*Build*

dist
