#findCar
  height auto
  .findCar__intro
    height auto
    background-image url("/img/find-your-car.jpg")
    background-size cover
    background-position center
    display flex
    flex-wrap wrap
    align-items center
    padding 8rem 2rem
    &:before
      content ''
      position absolute
      width 100%
      height 32.65rem
      left 0
      top 0
      background $black
      opacity 0.3
      z-index 1
    .findCar__introtitle
      font-size 1rem
      color $blue
      font-weight 300
      margin 1em 0
      z-index 2
      width 100%
      text-align center
    .findCar__title
      margin 3.4rem 0rem
    p
      line-height 1.5
      z-index 2
      font-size 2rem
      color $white
      text-align center
      width 100%
    .findCar__tab
      margin auto
      z-index 2
      background-color $white
      .findCar__search
        width 19rem
        height 3.75rem
        color $black
        outline none
        border none
        background url("/img/search.png") no-repeat scroll 0.625rem 1.25rem
        background-size 1rem
        padding-left 2.125rem
        +large()
          width 25rem
  .technical__map
    height 70%
    width 100%
  #map
    width 100%
    height 43.75rem
    background gray
    border-top 0.3125rem solid $blue
    border-bottom 0.3125rem solid $blue