#impulse
  background-image url("https://antoinedlf.com/bmw/img/pureimpulse.jpg")
  background-size cover
  height 100%
  display flex
  align-items center
  &:before
    content ''
    position absolute
    width 100%
    height 100%
    background $black
    opacity 0.8
    z-index 1
    top 0
  +large()
    height 75%
  .impulse__intro
    margin $ml
    z-index 2
  .impulse__introtitle
    font-size 2rem
    color $white
    font-weight 300
    margin 1em 0
    +large()
      font-size 2.5rem
  p
    line-height 1.5
    font-size $sfont
    +large()
      width 50%
      font-size $lfont
  .impulse__more
    padding 1rem 2rem
    color $blue
    img
      width 30px
      transform translate(-30px,8px)
    a
      text-transform none
      font-size 1rem
      color $blue
      transition 0.3s ease all
      &:hover
        padding-left 10px
        color $white
