#sports-car
  background $white
  padding-left 10%
  height auto
  overflow-x hidden
  .sports-car__description
    padding-top 4.375rem
    margin-right 2.375rem
    @media (min-width: 1024px)
      margin-right 3rem
    h2
      font-size 1.625rem
      width 99%
      font-weight 500
      text-align left
      color $blue
    p
      font-size 1rem
      color $grey
      padding-top 4.375rem
  .sports-car__carousel
    padding 3rem 0
    overflow scroll
    white-space nowrap
    overflow-y hidden
    position relative
    img
      height 15.625rem
      padding-right 2rem
  ::-webkit-scrollbar
    width 3px
    height 4px
  ::-webkit-scrollbar-track
    background transparent
  ::-webkit-scrollbar-thumb:horizontal
    background $blue
  ::-webkit-scrollbar-thumb:horizontal:hover
     background $blue
