$black = #000
$grey = #6f7480
$warm-grey = #8c8c8c
$blue = #1c69d4
$white = #fefefe
$technical = #eeeeee

$font = 'ApercuPro'
$opensans = 'Open Sans'
$bold = 'Apercu Pro'

.surtitre
  font-size 1rem
  color $blue
  font-family $bold $opensans

.container
  padding 0rem
  height 100%

$medium = 'screen and (min-width: 668px)'
$large = 'screen and (min-width: 992px)'
$xlarge = 'screen and (min-width: 1200px)'
