@font-face
   font-family Apercu Pro
   font-style normal
   font-weight 400
   src url(../fonts/ApercuPro.ttf) format ("ttf")
   url(../fonts/ApercuPro.otf) format ("truetype")
   url(../fonts/ApercuPro.woff) format ("woff")

@font-face
   font-family Apercu Pro
   font-style normal
   font-weight 500
   src url(../fonts/ApercuMediumPro.ttf) format ("ttf")
   url(../fonts/ApercuMediumPro.otf) format ("truetype")
   url(../fonts/ApercuMediumPro.woff) format ("woff")

@font-face
   font-family Apercu Pro
   font-style normal
   font-weight 700
   src url(../fonts/ApercuPro-Bold.ttf) format ("ttf")
   url(../fonts/ApercuPro-Bold.otf) format ("truetype")
   url(../fonts/ApercuPro-Bold.woff) format ("woff")
