@font-face
   font-family ApercuMediumPro
   font-style bold
   src url(../fonts/ApercuMediumPro.ttf) format ("ttf")
   url(../fonts/ApercuMediumPro.otf) format ("truetype")
   url(../fonts/ApercuMediumPro.woff) format ("woff")

@font-face
   font-family Apercu Pro
   font-style italic
   src url(../fonts/ApercuMediumItalicPro.ttf) format ("ttf")
   url(../fonts/ApercuMediumItalicPro.otf) format ("truetype")
   url(../fonts/ApercuMediumItalicPro.woff) format ("woff")

@font-face
   font-family Apercu Pro
   font-style regular
   src url(../fonts/ApercuPro.ttf) format ("ttf")
   url(../fonts/ApercuPro.otf) format ("truetype")
   url(../fonts/ApercuPro.woff) format ("woff")

@font-face
   font-family Apercu Pro
   font-style bold
   src url(../fonts/ApercuPro-Bold.ttf) format ("ttf")
   url(../fonts/ApercuPro-Bold.otf) format ("truetype")
   url(../fonts/ApercuPro-Bold.woff) format ("woff")
