@font-face
   font-family Apercu Pro
   font-style regular
   src url(../fonts/ApercuPro.ttf) format ("ttf")
   url(../fonts/ApercuPro.otf) format ("truetype")
   url(../fonts/ApercuPro.woff) format ("woff")

@font-face
   font-family Apercu Pro
   font-style bold
   src url(../fonts/ApercuPro-Bold.ttf) format ("ttf")
   url(../fonts/ApercuPro-Bold.otf) format ("truetype")
   url(../fonts/ApercuPro-Bold.woff) format ("woff")

@font-face
   font-family TrumpGothicWest
   font-style regular
   src url(../fonts/trump_gothic_west.ttf) format ("ttf")
   url(../fonts/trump_gothic_west.otf) format ("otf")
   url(../fonts/trump_gothic_west.woff) format ("woff")
